<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Consulta CNPJ</title>

    <!-- Bootstrap core CSS -->
    <link href="public/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="public/css/sb-admin.css" rel="stylesheet">
    <link href="public/js/vendor/jqueryLoader/jquery.loader.min.css" rel="stylesheet">
    <link rel="stylesheet" href="public/font-awesome/css/font-awesome.min.css">

</head>

<body>

<div id="wrapper clearfix">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top clearfix" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Consulta CNPJ</a>
        </div>
    </nav>

    <div id="clearfix page-wrapper">
        <div class="row col-lg-12 center-block">
            <br>
            <br>
            <br>
            <!-- This is the form that our event handler fills -->
            <form action="processa.php" method="post" class="form-horizontal col-md-4 col-md-offset-4">
        
                <div class="form-group">
                    <label for="cnpj" class="col-sm-2 control-label">CNPJ</label>
                    <div class="col-sm-10">
                      <input type="text" name="cnpj" class="form-control" id="cnpj" data-mask="99.999.999/9999-99" placeholder="CNPJ">
                    </div>
                  </div>
                  <div class="form-group">

                    <label for="captcha" class="col-sm-2 control-label">Captcha</label>
                    <div class="col-sm-10">
                        <img src="" border="0" id="captchaImage" class="captchaImage">
                        <a href="#refresh" class="refresh"><i class="fa fa-refresh"></i></a>
                        <br><br>
                        <input type="text" name="captcha" class="form-control" id="captcha" placeholder="Escreva o Código Acima ">
                        <input type="hidden" name="viewstate" value="" id="viewstate" class="viewstate" />
                    </div>
                  </div>
                
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="reset" class="btn btn-large btn-danger"><i class="fa fa-times"></i> Cancelar </button>
                      <button type="submit" class="btn btn-large btn-success"><i class="fa fa-check"></i> Verificar </button>
                    </div>
                  </div>
                
            </form>
            
        </div><!-- /.row -->

    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<script type="text/template" id="dataReturn">
    <% if(sitCad == 'ATIVA'){ %>
        <div class="clearfix alert alert-success" role="alert">
            <b><i class="fa fa-check"></i> <%- sitCad %> </b>

        </div>
    <% } else { %>
        <div class="alert alert-danger" role="alert">
            <b><i class="fa fa-times"></i> <%- sitCad %> </b>
        </div>
    <% } %>
    <h3>Dados da Empresa</h3>
    <p>
        <b>Nome Fantasia: </b> <%- tituloEstab %> </br>
        <b>Razão Social: </b> <%- nomeEmpre %> </br>
        <b>Atividade Primária: </b> <%- codDescAtivEconPrin %> </br>
        <b>Atividade Secundária: </b> <%- codDescAtivEconSec %> </br>
        <b>Natureza Jurídica: </b> <%- codDescNatJur %> </br>
        <b>Data de Abertura: </b> <%- dataAber %> </br>
        <b>Data da Situação Cadastral: </b> <%- dataSitCad %> </br>
        <b>Motivo da Situação Cadastral: </b> <%- dataSitCad %> </br>
        <b>Data da Situação especial: </b> <%- dataSitEsp %> </br>
        <b>Motivo da Situação Especial: </b> <%- sitEsp %> </br>
        <b>Logradouro: </b> <%- logradouro %> </br>
        <b>Número: </b> <%- numero %> </br>
        <b>Complemento: </b> <%- complemento %> </br>
        <b>CEP: </b> <%- cep %> </br>
        <b>Bairro: </b> <%- bairro %> </br>
        <b>Município: </b> <%- municipio %> </br>
        <b>UF: </b> <%- uf %> </br>
    </p>
</script>
<!-- JavaScript -->
<script src="public/js/vendor/jquery-1.10.2.js"></script>
<script src="public/js/vendor/jquery.mask.min.js"></script>
<script src="public/js/vendor/jqueryLoader/jquery.loader.min.js"></script>
<script src="public/js/vendor/underscore-min.js"></script>
<script src="public/js/vendor/bootstrap.js"></script>
<script src="public/js/vendor/bootbox.min.js"></script>
<script src="public/js/vendor/getUrlData.js"></script>
<script src="public/js/main.js"></script>
<script>
    CheckCNPJ.init();
</script>
</body>
</html>
